<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= flash_block %>
        <%= yield %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
